.eduskills {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  /* justify-content: center; */
  gap: 0 20px;
}

@media screen and (min-width:800px) and (max-width:950px) {
  .eduskills {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:799px) {
  .eduskills {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}