.skills {
  padding: 10px;
}

.skills h3 {
  text-transform: uppercase;
}

.skills ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skills ul li {
  width: 30%;
  padding: 8px;
  /* color: #fff; */
  font-size: 14px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  /* background-color: blueviolet; */
}

@media screen and (max-width:799px) {
  .skills ul li {
    width: 30%;
    font-size: 12px;
  }
}